[global.databases]
geohub = { url = "postgresql://user:pass@localhost/database", pool_size = 4 }

[development]
workers = 8

[production]
log = "normal"
address = "::1"
port = 8000
# Majority of workers is expected to be waiting for updates.
workers = 16
