body {
    text-size: 120%;
}
.field {
    width: 15em;
}
#mapid {
    height: 95%;
    width: 95%;
    margin: 5px;
}
#livemapTitle {
    color: blue;
    font-weight: bold;
    margin-right: 3em;
}
#infoFields {
    border-style: solid;
    border-color: green;
    padding: 5px;
}

@keyframes blinkonupdate {
    from {background-color: greenyellow;}
    to {background-color: white;}
}
.timeChanged {
    animation-name: blinkonupdate;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
